* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  color: white;
}

.app-container {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background: #222;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.screen {
  padding: 30px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.clock-time {
  font-size: 70px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.alarm-item {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inactive {
  opacity: 0.5;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

.days-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.selected {
  background: green;
  color: white;
}

.save-btn {
  width: 100%;
  background: blue;
  color: white;
}

.ring-buttons {
  margin-top: 20px;
}


